<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        
      </section>
      <section class="">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Mis Ideas</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron content position">
  <h1>T I A N G U I T Z</h1>

  <h2>
   S i e n t e - M é x i c o
  </h2>
  
</div>
<% end %>
