<% provide(:title, "Iniciar Sesión") %>
<div class="loginblue">
  <div class="card-panel">
    <h1>Inicia Sesión</h1>
    <br>
    <div class=" col s12 m6 container">
      <div class="container center">
        <%= form_for(:session, url: login_path) do |f| %>
        
          <div class="col s12 m6 input-field  container">
            <i class="material-icons prefix">email</i>
            <%= f.email_field :email, class: 'form-control' %>
            <label for="icon_prefix"><%= f.label :correo %></label>
          </div>
          
          <div class="col s12 m6 input-field  container">
            <i class="material-icons prefix">lock_outline</i>
            <%= f.password_field :password, class: 'form-control' %>
            <label for="icon_prefix"><%= f.label :contraseña %></label>
          </div>
          </br>
    
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <input type="checkbox" id="test5" />
            <label for="test5">Recordar en este dispositivo</label></br>
          <% end %>
    
          <%= f.submit "Inicia Sesión", class: "waves-effect waves-light btn green accent-3 z-depth-3" %></br>
          </br>
          <%= link_to "(Olvide mi contraseña)", new_password_reset_path %>
        <% end %>
    
        <p>Usuario nuevo? <%= link_to "Registrate!", signup_path %></p>
      </div>
    </div>
  </div>
</div>