<% provide(:title, "Reinicio de Contraseña") %>
<h1>Olvide mi contraseña</h1>

<div class=" container center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :correo %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Cambiar!", class: "waves-effect waves-light btn green accent-3 z-depth-4" %>
    <% end %>
  </div>
</div>