<h1>C R A F F T E R S</h1>

<p>Hola <%= @user.name %>,</p>

<p>
Bienvenido a Craffters! Te enviamos este correo para que puedas ser usuario núestro y tengas la mejor experiencia.
Solo da click al enlace para activar tu cuenta:
</p>

<%= link_to "Activar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>