<h1>Cambio de Contraseña</h1>

<p>Para reiniciar tu contraseña da click en enlace abajo:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>El enlace expira en dos horas.</p>

<p>
Si en caso cambias de opinion en no cambiar tu contraseña puedes ignorar este mensaje.
</p>