<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
<p>
  <%= f.submit "Seguir", class: "waves-effect waves-light btn green accent-3 z-depth-4" %>
<% end %>
</p>