<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
             html: { method: :delete },
             remote: true) do |f| %>
<p>
  <%= f.submit "Eliminar de tus seguidores", class: "waves-effect waves-light btn green accent-3 z-depth-4" %>
<% end %>
</p>