<li>
  <%= gravatar_for(@users) %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Eliminar", user, method: :delete,
                                  data: { confirm: "seguro?" } %>
  <% end %>
</li>