<% provide(:title, "Ajustes de perfil") %>
<h1>Actualiza tu perfil</h1>

<div class="col-md-6 col-md-offset-3 container">
  <%= form_for(@user, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="col s12 m6 input-field  container">
      <i class="material-icons prefix">person</i>
      <%= f.text_field :name, class: 'form-control' %>
      <label for="icon_prefix"><%= f.label :nombre %></label>
    </div>
    
    <div class="col s12 m6 input-field  container">
      <i class="material-icons prefix">email</i>
      <%= f.email_field :email, class: 'form-control' %>
      <label for="icon_prefix"><%= f.label :correo %></label>
    </div>
    
    <div class="col s12 m6 input-field  container">
      <i class="material-icons prefix">lock_outline</i>
      <%= f.password_field :password, class: 'form-control' %>
      <label for="icon_prefix"><%= f.label :contraseña %></label>
    </div>

    <div class="col s12 m6 input-field  container">
      <i class="material-icons prefix">lock</i>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <label for="icon_prefix"><%= f.label :password_confirmation, "Confirma Contraseña" %></label>
    </div>
    
    <h1>Cambia tu foto de pérfil</h1>
    <div class="gravatar_edit container">
      <%= gravatar_for current_user %>
      <div class="file-field input-field ">
        <div class="btn purple accent-2 z-depth-4">
          <input type="file" multiple>
          <i class="material-icons">camera_alt</i>
          <input type="file" accept="image/*;capture=camera">
        </div>
        <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png'%>
        <div class="file-path-wrapper">
          <input class="file-path" type="text">
        </div>
      </div>
    </div>
  
    <h1>Cambia tu Textura</h1>
    <div class="container">
      <div class="file-field input-field ">
        <div class="btn purple accent-2 z-depth-4">
          <input type="file" multiple>
          <i class="material-icons">camera_alt</i>
          <input type="file" accept="image/*;capture=camera">
        </div>
        <%= f.file_field :cover, accept: 'image/jpeg,image/gif,image/png'%>
        <div class="file-path-wrapper">
          <input class="file-path" type="text">
        </div>
      </div>
    </div>
    <%= f.submit "Guardar Cambios", class: "center waves-effect waves-light btn green accent-3 z-depth-4" %>
  <% end %>
</div>
