<% provide(:title, 'Registrarse') %>
<h1>Registrate</h1>

<div class="container center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <div class="col s12 m6 input-field  container">
        <i class="material-icons prefix">person</i>
        <%= f.text_field :name, class: 'form-control' %>
        <label for="icon_prefix"><%= f.label :nombre %></label>
      </div>
      
      <div class="col s12 m6 input-field  container">
        <i class="material-icons prefix">email</i>
        <%= f.email_field :email, class: 'form-control' %>
        <label for="icon_prefix"><%= f.label :correo %></label>
      </div>
      
      <div class="col s12 m6 input-field  container">
        <i class="material-icons prefix">lock_outline</i>
        <%= f.password_field :password, class: 'form-control' %>
        <label for="icon_prefix"><%= f.label :contraseña %></label>
      </div>

      <div class="col s12 m6 input-field  container">
        <i class="material-icons prefix">lock</i>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <label for="icon_prefix"><%= f.label :password_confirmation, "Confirma Contraseña" %></label>
      </div>
      <%= f.submit "Crear mi cuenta!", class: "waves-effect waves-light btn green accent-3 z-depth-4" %>
    <% end %>
  </div>
</div>