<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="card-space z-depth-3">
    <div class="field">
      <%= f.text_area :content, placeholder: "¿Cual es tu idea?", class: 'materialize-textarea' %>
    </div>
    
    <%= f.submit "Post", class: "waves-effect waves-light btn green accent-3 z-depth-4" %>
    
    <div class="file-field input-field ">
      <div class="btn purple accent-2 z-depth-4">
        <input type="file" multiple>
        <i class="material-icons">camera_alt</i>
        <input type="file" accept="image/*;capture=camera">
      </div>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'%>
      <div class="file-path-wrapper">
        <input class="file-path" type="text">
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Tu archivo es demasiado pesado, el minimo es de 5mb .');
    }
  });
</script>