<%= link_to gravatar_for(current_user), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "Ver mi perfil", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
