<div class="card z-depth-1 hoverable">
  <li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, class: 'avatar-circle fit-size'), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
      <%= micropost.content %>
      <div class="">
        <%= image_tag micropost.picture.url if micropost.picture? %>
      </div>
    </span>
    <span class="timestamp">
      Posteado hace <%= time_ago_in_words(micropost.created_at) %>.
      <% if current_user?(micropost.user) %>
        <%= link_to micropost, method: :delete, class:"btn-floating halfway-fab waves-effect waves-light  red accent-3 hoverable button-bottom", data: { confirm: "Seguro que quieres eliminar?" } do %>
            <i class="material-icons">delete</i> 
        <% end %>
      <% end %>
    </span>
  </li>
</div>


