@import "materialize";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.rosa-mex{
  background-color: #ec407a;
}
.mex-blue{
  background-color: #0089ec;
}

/*Materialize css modifications*/
.slider{
  bottom: -20px;
  z-index: 0;
}
.input-field label{
  top: -20px;
  transform: translateY(20px);
  padding-bottom: 10px;
}
.input-field{
  margin-top: 30px;
}
.input-field label.active:not(.label-icon){
  transform: translateY(-5px) scale(0.8);
}

i.left{
  margin-left: -415px;
}

/*user-view*/
.size{
  width: 300px;
  height: 171px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

/* universal */

body {
  padding-top: 60px;
}
.loginblue{
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mar-bottom{
  margin-bottom: 50px;
}
.top{
  margin-top: -60px;
}
section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: right;
  margin-right: 50px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo2 {
  float: left;
  margin-right: 3px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.background-size{
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: -34px;
  left: -15px;
  z-index: -1;
}
.cover-size-edit{
  width: 315px;
  height: 205px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #78909c;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
input#search{
 height: 7px;
 
}

.top-image{
  margin-top: 8px;
}
.fit-size{
  padding: 9px;
  margin-top: -25;
}
/* forms */

input, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 30px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .red, .lighten-2;
  .form-control {
    color:#ff; /*gray light*/
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

textarea.materialize-textarea{
  padding-bottom: 0px;
}


/* Users index */

.users {
  list-style: none;
  margin: 15px;
  li {
    overflow: auto;
    padding: 25px 25px;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  margin-right: 0px;
  li {
    padding: 25px 25px;
    border-top: 1px solid #e8e8e8;    
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
      max-width: 100%;
      max-height: 100%;
      margin-left: 0px;
    }
  }
  .timestamp {
    color: #78909c; /*gray light*/
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
  }
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* Places inst grid*/
.places-grid .place-holder{
	clear: both;
	text-align: center;
}

.places-grid img{
	width: 33%;
	display: inline-block;
	float: left;
}



/*cards*/
.card-user{
  padding: 30px;
  padding-top: 30px;
  margin-top: 15px;
}

.card-space{
  padding-left: 26px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
}

.card-profile{
  padding: 10px;
  margin-top: 15px;
}

.bar-size{
  margin-left: 7px;
  margin-right: 7px;
  padding-right: 32px;
}
.bar-size2{
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 0px;
  background-color: #ec407a;
  padding-right: 32px;
}
/*Icons*/
.head{
  margin-top: -60px;
  margin-left: -15px;
}
.margin-icon{
  margin-left: -21px;
}
.search-icon{
  position: absolute;
  padding-left: 10em;
  margin-top: -60px;
}
.margin-left{
  margin-left: -35px;
}
.btn-floating.halfway-fab{
  bottom: 0px;
  position: inherit;
  margin-left: 8px;
}
/*bar*/
.bar{
  padding-left: 20px;
  text-indent: 15px;
}

/*text input line colors*/

 /* label color */
   .input-field label {
     color: #546e7a;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

/*Avatar default*/
.initials {
  position: relative;
  top: 8px; /* 25% of parent */
  font-size: 36px; /* 50% of parent */
  line-height: 50px; /* 50% of parent */
  color: #fff;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  left: 1px;
}
.circlee{
  height: 64px;
  width: 64px;
  display: block;
}

.avatar-circle {
  display: block;
  width: 57px;
  height: 57px;
  background-color: #ff5722;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

/*Notifications*/
.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.alert-heading {
color: inherit;
}

.alert .close {
position: relative;
top: -2px;
right: -21px;
line-height: 18px;
}
.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}
.alert-block {
padding-top: 14px;
padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
margin-bottom: 0;
}

.alert-block p + p {
margin-top: 5px;
}


