<div class= "container center">
  <div class="col s12">
    <div class=" col s12">
      <%= form_for @place do |f| %>
      
      <div class="col s12 m6 input-field  container">
        <i class="material-icons prefix">place</i>
        <%= f.text_area :title, class: 'materialize-textarea' %>
        <label for="icon_prefix"><%= f.label :lugar %></label>
      </div>
      
      <div class="col s12 m6 input-field  container">
        <i class="material-icons prefix">explore</i>
        <%= f.text_area :title, class: 'materialize-textarea' %>
        <label for="icon_prefix"><%= f.label :address, 'Dirección' %></label>
      </div>
          
        <div class="file-field input-field ">
          <div class="btn purple accent-2 z-depth-4">
            <i class="material-icons">camera_alt</i>
            <input type="file" multiple>
            <input type="file" accept="image/*;capture=camera">
          </div>
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'%>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div></br>
        <%= f.submit 'Agregar', class: 'btn btn-primary green accent-3 z-depth-4' %>
      <% end %>
    </div>
  </div>
</div>

