<header><h1 class="display-4">Lugares</h1></header>

<div>
  <%= link_to new_place_path, class: 'btn btn-primary btn-lg green accent-3 z-depth-5' do %>
    <i class="material-icons"></i>Agrega un lugar
  <% end %>
</div></br>


<div class="section">
  <div class="places-grid">
    <div class="row">
      <% @places.each do |place| %>
      <div class="col s4 l4 m4 places-holder">
        <div class="card hoverable">
          <div class="card-image materialboxed" width="50">
            <%= image_tag place.picture.url if place.picture %>
            <span class="picture responsive-img"></span>
          </div>
          <div class="card-content mar-bottom">
            <%= render place %>
            <% if current_user?(place.user)%>
              <%= link_to place, method: :delete, class:"btn-floating halfway-fab waves-effect waves-light red", data: { confirm: "Seguro que quieres eliminar?" } do %>
                <i class="material-icons">delete</i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>